.App {
  text-align: center;
}



.title-App{
  color: rgb(55, 88, 5);
  background-color: rgb(175, 127, 54);
  padding: 15px;
  border: rgb(55, 88, 5) solid 2px;
}

.espaco_car{
  display: flex;
  justify-content: center;
  margin: 50px;
}
